:root {
    --gradient-color-1: #000;
    --gradient-color-2: #800000;
    
    background: linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2)) !important;
    color: #fff !important;
    background-size: 200% 100%;
    animation: gradientAnimation 1ms linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}